{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card border-0 shadow-sm p-4 mt-5">
            <div class="text-center mb-4">
                <i class="bi bi-shield-lock text-danger" style="font-size: 3rem;"></i>
                <h3 class="fw-bold mt-2">เปลี่ยนรหัสผ่าน</h3>
            </div>
            <form method="POST">
                <div class="mb-3">
                    <label class="form-label fw-bold small">รหัสผ่านเดิม</label>
                    <input type="password" name="old_password" class="form-control" required>
                </div>
                <hr>
                <div class="mb-3">
                    <label class="form-label fw-bold small">รหัสผ่านใหม่</label>
                    <input type="password" name="new_password" class="form-control" required>
                </div>
                <div class="mb-4">
                    <label class="form-label fw-bold small">ยืนยันรหัสผ่านใหม่</label>
                    <input type="password" name="confirm_password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-red w-100 py-2 fw-bold">บันทึกรหัสผ่านใหม่</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}