{% extends "layout.html" %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card border-0 shadow-sm p-4 text-center">
                <h2 class="fw-bold mb-4">เข้าสู่ระบบ</h2>
                <form method="POST">
                    <div class="mb-3 text-start">
                        <label class="form-label fw-bold">ชื่อผู้ใช้</label>
                        <input type="text" name="username" class="form-control border-2" required>
                    </div>
                    <div class="mb-4 text-start">
                        <label class="form-label fw-bold">รหัสผ่าน</label>
                        <input type="password" name="password" class="form-control border-2" required>
                    </div>
                    <button type="submit" class="btn btn-red w-100 py-2 mb-3">เข้าสู่ระบบ</button>
                    <p class="small text-muted">ยังไม่มีบัญชี? <a href="{{ url_for('users.register') }}" class="text-danger fw-bold">สมัครสมาชิก</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}